

.Update-page{
    display: flex;
    width: 107vw;
    height: 100vh;
    background: linear-gradient(135deg, #a5b4fc, #6366f1);
    }
  
  
  .edit-card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    background: #ffffff;
    padding: 20px 25px;
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 100%;
    max-width: 500px; /* limit width */
    }
    
  .edit-card:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
  }
  
  
  .content {
    max-height: 90%;
    padding: 20px;
  }